html {
font-size: 16px;
box-sizing: border-box;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
/*    min-width: 540px ; */
    margin: 18px;
}

.skills-table, .business-table {
 /*   margin: 0 20px; */
    width: 100%;
}

.skills-table tr:first-child {
    width: 100%;
}

.skills-table td:last-child {
    width: 110px; 
    padding: 5px;
}

.business-table td:first-child {
   width: 110px; 
    padding: 5px;
}

.skills-table img, .business-table img {
    width: 100px;
    border-radius: 50%;
    
}

.gold-coin { 
    user-select: none;
    cursor: pointer;
}

.gold-coin:hover { 
    transform: scale(1.1);
}


/* *************************** Main area ***************************** */

.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.inventory-container {
    min-width: 540px ;
}

.clicking-area-container {
    text-align: center;
 }

.upgrade-stats-cell {
    width: 64px;
}

@media screen and (max-width: 1440px) {
    .inventory-container.per-click {
        grid-area: perclick;
     }
     
     .inventory-container.per-sec {
        grid-area: persec;
      }
     
     .clicking-area-container {
        grid-area: gold;
     }
       
    .main-container {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "gold gold"
        "perclick persec";
     }
}

@media screen and (max-width: 992px) {
    .main-container {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "gold"
        "perclick"
        "persec";
    }
}

@media screen and (max-width: 576px) {
    
}